@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

@layer base {
    html {
        font-family: Inter, system-ui, sans-serif;
        scroll-behavior: smooth;
        color: #333333;
        letter-spacing: 0.015em;
        line-height: 1.75rem;

        -webkit-font-smoothing: antialiased;
    }

    h1, h2, h3, h4, h5, h6{
        letter-spacing: 0.02em;
        color: #000000;
    }
}

@layer utilities {
    .fadeInRight {
        overflow-x: hidden;
        animation: fadeInRight 1.5s;
    }
    .fadeInLeft {
        overflow-x: hidden;
        animation: fadeInLeft 1.5s;
    }
    @keyframes fadeInLeft {
        0% {
            opacity: 0;
            transform: translateX(-50%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            transform: translateX(50%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .fadeInLeft {
        overflow-x: hidden;
        animation: fadeInLeft 1.5s;
    }
    .fadeInRight {
        overflow-x: hidden;
        animation: fadeInRight 1.5s;
    }
    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translateY(50%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .fadeInDown {
        overflow-y: hidden;
        animation: fadeInDown 1.5s;
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .fadeIn {
        overflow-y: hidden;
        animation: fadeIn 1s;
    }
    @keyframes scale {
        0% {
            opacity: 0;
            transform: scale(0.5);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
    .scale {
        animation: scale 1s;
    }
    @media (prefers-reduced-motion) {
        .fadeIn
        .fadeInRight,
        .fadeInLeft,
        .fadeInDown
        .scale {
            animation: none;
        }
    }
}
